## Tuples

A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

Characterstics

Ordered
Unchangeble
Allows duplicate

 # Plan of attack

.Creating a Tuple
.Accessing items
.Editing items
.Adding items
.Deleting items
.Operations on Tuples
.Tuple Functions

# Creating Tuple

In [ ]:
#empty
t1=()
print(t1)
#creating a tuple with a single item
t3=(2,)
t2=('hello',)
print(type(t2))
print(t3)
#homo
t4=(1,2,3,4)
print(t4)
#hetro
t5=(1,2,4,True,(7,6,8))
print(t5)
t6=(1,2,3,(4,5))
print(t6)
# using type conversion
t7=tuple('hello')
print(t7)

()
<class 'tuple'>
(2,)
(1, 2, 3, 4)
(1, 2, 4, True, (7, 6, 8))
(1, 2, 3, (4, 5))
('h', 'e', 'l', 'l', 'o')

# Accessing items

index

In [ ]:
print(t3)
print(t3[0])
print(t3[-1])

(2,)
2
2

slice

In [ ]:
print(t3[0:4])
print(t3[0:4:2])
print(t3[-3:-1])
print(t3[::-1])
print(t6[-1][0])

(2,)
(2,)
()
(2,)
4

# editing items

In [ ]:
print(t3)
t3[0]=100

# immutable just like string

# Adding items

In [ ]:
print(t3)

# can not add items

# Deleting items

In [ ]:
t8=(1,2,3,4)
print(t8)
del t8
# print(t3)

(1, 2, 3, 4)

In [ ]:
# print(t5)
# del t5([-1])
# can not delete single item

# operations on Tuple

In [ ]:
# + and *

t1=(1,2,3,4)
t2=(5,6,7,8)
print(t1+t2)
print(t1*3)

#membership
1 in t1
1 not in t1
#iteration

for i in t1:
  print(i)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
1
2
3
4

# Tuple Function

In [ ]:
# T# len/sum/min/max/sorted
t=(1,2,3,4,5)
print(len(t))
print(sum(t))
print(min(t))
print(max(t))
print(sorted(t))
print(sorted(t,reverse=True))

5
15
1
5
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [ ]:
#count
t=(1,2,3,4,4)
t.count(4)

2

In [ ]:
#index
print(t.index(3))
print(t.index(4))

2
3

 # Difference between Lists and Tuples

Syntax

Mutability

Speed

Memory

Built in functionality

Error prone

Usability

In [ ]:
import time

L = list(range(100000000))
T = tuple(range(100000000))

start = time.time()
for i in L:
  i*5
print('List time',time.time()-start)

start = time.time()
for i in T:
  i*5
print('Tuple time',time.time()-start)

List time 8.964662790298462
Tuple time 7.18536639213562

In [ ]:
import sys

L = list(range(1000))
T = tuple(range(1000))

print('List size',sys.getsizeof(L))
print('Tuple size',sys.getsizeof(T))

List size 8056
Tuple size 8040

In [ ]:
a = [1,2,3]
b = a

a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [ ]:
a = (1,2,3)
b = a

a = a + (4,)
print(a)
print(b)

(1, 2, 3, 4)
(1, 2, 3)

# Special Syntax

In [ ]:
# tuple unpacking
a,b,c=(1,2,3)
print(a,b,c)

1 2 3

In [ ]:
# a,b=(1,2,3)
# print(a,b)

In [ ]:
a=1
b=2
a,b=b,a
print(a,b)

2 1

In [ ]:
a,b,*others=(1,2,3,4)
print(a,b)
print(others)

1 2
[3, 4]

In [ ]:
# zipping tuple
a=(1,2,3,4)
b=(5,6,7,8)
zip(a,b)
print(list(zip(a,b)))

[(1, 5), (2, 6), (3, 7), (4, 8)]

# Sets

A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be changed).

However, a set itself is mutable. We can add or remove items from it.

Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

Characterstics:
Unordered
Mutable
No Duplicates
Can't contain mutable data types

# Creating Sets

In [ ]:
#empty
s=set()
print(type(s))

#1D and 2D
s1={1,2,3}
print(s1)
# s2={1,2,3,{4,5}}  -> not possible
# print(s2)

#homo and hetro
s3={1,'hello',4.5,True}
print(s3)

s4={1,'hello',4.5,(1,2,3)}
print(s4)

#using type conversion
s5=set([1,2,3])
print(s5)

#duplicates not allowed
s6={1,2,3,4,2,3,1}
print(s6)

#set can`t have mutable items
# s7={1,2,[3,4]}
# print(s7)  > not work

<class 'set'>
{1, 2, 3}
{1, 4.5, 'hello'}
{1, (1, 2, 3), 4.5, 'hello'}
{1, 2, 3}
{1, 2, 3, 4}

In [ ]:
s1={1,2,3}
s2={3,2,1}
print(s1==s2)

True

 # Acessing items

In [ ]:
s1={1,2,3,4}
#not allowed to access the item

# Editing Items

In [ ]:
s={1,2,3,4}
# canot not edit

# Adding items

In [ ]:
s={1,2,3,4}
# add
s.add(5)
print(s)
#update
s.update([6,7,8])
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}

# Deleting items

In [ ]:
# del
s={1,2,3,4,5,6}
print(s)
del s
# print(s)
# can not delete perticuler item

#discard  > if item not present not through error
s={1,2,3,4,5,6}
s.discard(5)
print(s)
s.discard(9)
print(s)

#remove->  if item not present through error
s={1,2,3,4,5,6}
s.remove(5)
print(s)
# s.remove(7)
# print(s)

#pop
s={1,2,3,4,5,6}
print(s.pop())
print(s)

# clear
s.clear()
print(s)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 6}
{1, 2, 3, 4, 6}
{1, 2, 3, 4, 6}
1
{2, 3, 4, 5, 6}
set()

# set operation

In [ ]:
s1={1,2,3,4}
s2={4,5,6,8}
# union(|)
print(s1 | s2)

#intersection(&)
print(s1 & s2)

# difference(-)
print(s1-s2)
print(s2-s1)

#symmetric Difference(^)
print(s1^s2)

#membership test
1 not in s1
1 in s1
#iteration
for i in s1:
  print(i)

{1, 2, 3, 4, 5, 6, 8}
{4}
{1, 2, 3}
{8, 5, 6}
{1, 2, 3, 5, 6, 8}
1
2
3
4

# set Function

In [ ]:
#len/sum/min/max/sorted
s={1,2,3,4,5}
print(len(s))
print(sum(s))
print(min(s))
print(max(s))
print(sorted(s,reverse=True))

5
15
1
5
[5, 4, 3, 2, 1]

In [ ]:
#union/updated
s1={1,2,3,4}
s2={4,5,6,8}
#s1 | s2
print(s1.union(s2))
s1.update(s2)
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 8}
{1, 2, 3, 4, 5, 6, 8}
{8, 4, 5, 6}

In [ ]:
#intersection/intersection_update
s1={1,2,3,4}
s2={4,5,6,8}
s1.intersection(s2)
print(s1)
s1.intersection_update(s2)
print(s1)
print(s2)

{1, 2, 3, 4}
{4}
{8, 4, 5, 6}

In [ ]:
#difference/diffrence_update
s1={1,2,3,4}
s2={4,5,6,8}
s1.difference(s2)
print(s1)
s1.difference_update(s2)
print(s1)
print(s2)

{1, 2, 3, 4}
{1, 2, 3}
{8, 4, 5, 6}

In [ ]:
#symmetric_difference/symmetric_difference_update
s1={1,2,3,4}
s2={4,5,6,8}
s1.symmetric_difference(s2)
print(s1)
s1.symmetric_difference_update(s2)
print(s1)
print(s2)

{1, 2, 3, 4}
{1, 2, 3, 5, 6, 8}
{8, 4, 5, 6}

In [ ]:
#isdisjoint/issubset/issuperset
s1={1,2,3,4}
s2={4,5,6,8}
print(s1.isdisjoint(s2))

False
False
False

In [ ]:
s1={1,2,3,4,5}
s2={3,4,5}
print(s1.issubset(s2))
print(s2.issubset(s1))
print(s1.issuperset(s2))
print(s2.issuperset(s1))

False
True
True
False

In [ ]:
#copy
s1={1,2,3,4}
s2=s1.copy()
print(s1)
print(s2)

{1, 2, 3, 4}
{1, 2, 3, 4}

# Frozenset

frozenset is just immutable version of python set object

In [ ]:
#create frozenset
fs1=frozenset([1,2,3])
fs2=frozenset([3,4,5])

print(fs1 | fs2)
print(fs1 & fs2)
print(fs1 - fs2)
print(fs1 ^ fs2)
print(fs1)

frozenset({1, 2, 3, 4, 5})
frozenset({3})
frozenset({1, 2})
frozenset({1, 2, 4, 5})
frozenset({1, 2, 3})

In [ ]:
#what works and what not works
#works->all read function
#does not work->write operation

In [ ]:
#when use use->only read like website
#2D sets

fs=frozenset([1,2,3,frozenset([4,5])])
print(fs)

frozenset({frozenset({4, 5}), 1, 2, 3})

# set Comprehension

In [ ]:
{i for i in range(1,11)}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
{i for i in range(1,11) if i >5 }

{6, 7, 8, 9, 10}

In [ ]:
{i**2 for i in range(1,11) if i>5}

{36, 49, 64, 81, 100}

# Dictionary

Dictionary in Python is a collection of keys values, used to store data values like a map, which, unlike other data types which hold only a single value as an element.

In some languages it is known as map or assosiative arrays.

dict = { 'name' : 'nitish' , 'age' : 33 , 'gender' : 'male' }

Characterstics:

Mutable

1.   Mutable
2.  Indexing has no meaning
3.  keys can't be duplicated
4.   keys can't be mutable items

#create Dictionary

In [ ]:
#empty dictionary
d={}
print(d)

#1d dictionary
d1={'name':'nitish','age':33,'gender':'male'}
print(d1)

#with mixed keys
d2={(1,2,3):1,'hello':'world'}
print(d2)

#2d dictinary->json
s={
    'name':'saniya',
    'college':'MCOE',
    'SEM':6,
    'subject':{
        'das':50,
        'maths':67,
        'english':34
    }
}

print(s)

#using sequence and dict function
d3=dict([(1,1),(2,2),(3,4)])
print(d3)
d4=dict([('name','saniya'),('age',21),(3,4)])
print(d4)
#duplicate keys
d5={'name':'saniya','name':'saniya'}
print(d5)
#mutable items as keys
d6={'name':'saniya',(1,2,3):2}
print(d6)

{}
{'name': 'nitish', 'age': 33, 'gender': 'male'}
{(1, 2, 3): 1, 'hello': 'world'}
{'name': 'saniya', 'college': 'MCOE', 'SEM': 6, 'subject': {'das': 50, 'maths': 67, 'english': 34}}
{1: 1, 2: 2, 3: 4}
{'name': 'saniya', 'age': 21, 3: 4}
{'name': 'saniya'}
{'name': 'saniya', (1, 2, 3): 2}

#Accesing items

In [ ]:
my_dict={'name':'saniya','age':21}
# my_dict[0]  # not allowed
#[]
print(my_dict['name'])
print(my_dict['age'])
#get
print(my_dict.get('age'))



s={
    'name':'saniya',
    'college':'MCOE',
    'SEM':6,
    'subject':{
        'das':50,
        'maths':67,
        'english':34
    }
}

print(s['subject'])
print(s['subject']['maths'])

saniya
21
21
{'das': 50, 'maths': 67, 'english': 34}
67

# Adding key-value pair

In [ ]:
d4=dict([('name','saniya'),('age',21),(3,4)])
print(d4)
d4['gender']='female'
print(d4)
d4['weight']=52
print(d4)

{'name': 'saniya', 'age': 21, 3: 4}
{'name': 'saniya', 'age': 21, 3: 4, 'gender': 'female'}
{'name': 'saniya', 'age': 21, 3: 4, 'gender': 'female', 'weight': 52}

# Remove Key-value pair

In [ ]:
d={'name': 'saniya', 'age': 21, 3: 4, 'gender': 'female', 'weight': 52}
#pop
d.pop(3)
print(d)
#popitem
d.popitem()
print(d)
#del
del d['name']
print(d)
#clear
d.clear()
print(d)

{'name': 'saniya', 'age': 21, 'gender': 'female', 'weight': 52}
{'name': 'saniya', 'age': 21, 'gender': 'female'}
{'age': 21, 'gender': 'female'}
{}

# Editing key-value pair

In [ ]:
s={
    'name':'saniya',
    'college':'MCOE',
    'SEM':6,
    'subject':{
        'das':50,
        'maths':67,
        'english':34
    }
}


s['SEM']=5
print(s)

s['subject']['dsa']=80
print(s)

{'name': 'saniya', 'college': 'MCOE', 'SEM': 5, 'subject': {'das': 50, 'maths': 67, 'english': 34}}
{'name': 'saniya', 'college': 'MCOE', 'SEM': 5, 'subject': {'das': 50, 'maths': 67, 'english': 34, 'dsa': 80}}

# Dictionary Operations



*   membership
*   iteration

In [ ]:
print(s)
print('saniya' in s)
print('name' in s)

{'name': 'saniya', 'college': 'MCOE', 'SEM': 5, 'subject': {'das': 50, 'maths': 67, 'english': 34, 'dsa': 80}}
False
True

In [ ]:
d={'name':'saniya','gender':'female','age':33}
for i in d:
  print(i,d[i])

name saniya
gender female
age 33

# Dictionary Function

In [ ]:
# len/sorted
len(d)
print(d)
print(sorted(d))
print(sorted(d,reverse=True))
print(min(d))
print(max(d))

{'name': 'saniya', 'gender': 'female', 'age': 33}
['age', 'gender', 'name']
['name', 'gender', 'age']
age
name

In [ ]:
# items/keys/values

print(d)
print(d.items())
print(d.keys())
print(d.values())

{'name': 'saniya', 'gender': 'female', 'age': 33}
dict_items([('name', 'saniya'), ('gender', 'female'), ('age', 33)])
dict_keys(['name', 'gender', 'age'])
dict_values(['saniya', 'female', 33])

In [ ]:
#update
d1={1:2,3:4,4:5}
d2={4:7,6:8}
d1.update(d2)
print(d1)

{1: 2, 3: 4, 4: 7, 6: 8}

# Dectionary Comprehension

In [ ]:
#print 1st 10 number and there square
{ i :i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
#using existing dict
distance={'delhi':1000,'mumbai':2000,'bangalore':3000}
{key:value*0.62 for(key,value) in distance.items()}

{'delhi': 620.0, 'mumbai': 1240.0, 'bangalore': 1860.0}

In [ ]:
#using zip
days=["sunday","monday","tuesday","wednesday","thrusday","friday","saturday"]
temp_c=[30.5,32.6,31.8,33.4,29.8,30.2,29.9]

{i:j for(i,j) in zip(days,temp_c)}

{'sunday': 30.5,
 'monday': 32.6,
 'tuesday': 31.8,
 'wednesday': 33.4,
 'thrusday': 29.8,
 'friday': 30.2,
 'saturday': 29.9}

In [ ]:
#using if condition
products={'phone':10,'laptop':0,'charger':32,'tablet':0}
{key:value for (key,value) in products.items() if value>0}

{'phone': 10, 'charger': 32}

In [ ]:
#nested Comprehension
#print tables of number from 2 to 4
{i:{j:i*j for j in range(1,11)}for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}